extends layout.jade

block head 
  link(rel="stylesheet", href="css/home.css")

block content
  .main.flex-center.position-ref.full-height
    .content
      .title.m-b-md
        | Bienvenue
      .links
        a(href='/register') S'inscrire
        a(href='/login') Se connecter
