extends layout.jade

block content
  .container
    .row
      .span4.offset4.well
        legend Connexion
        if (message.length > 0)
          .alert.alert-danger #{message}
        form#login-form(method='POST', action='/login', accept-charset='UTF-8')
          input#email.span4(type='email', name='email', placeholder='Email' required)
          input#password.span4(type='password', name='password', placeholder='Mot de passe' required)
          button.btn.btn-info.btn-block(type='submit', name='submit') Se connecter

